* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #222;
    font-family: sans-serif;
}

.box{
    color: goldenrod;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

